
.live-cart-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    border-radius: 5px;
    position: relative;
    background-size: cover;
    flex: 0 0 20%;
    @media screen and (max-width: 1600px){
        flex: 0 0 25%;
    }
    @media screen and (max-width: 1200px){
        flex: 0 0 33.333%;
    }
    @media screen and (max-width: 900px){
        flex: 0 0 50%;
    }
    @media screen and (max-width: 700px){
        flex: 0 0 100%;
    }
    &:hover{
        &:after {
            height: 100%;
            background: linear-gradient(0deg, rgba(0,0,0, 0.67) 0%, rgba(0,0,0, 0.40) 100%);
        }
    }

    
    // & > * {
    //     position: absolute;
    //     z-index: 3;
    // }
    // &__bg {
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    //     left: 0;
    //     right: 0;
    //     top: 0;
    //     z-index: 1;
    //     bottom: 0;
    // }
    // &:before {
    //     width: 100%;
    //     padding-top: 130%;
    //     content: "";
    //     display: block;
    //     // @media screen and (max-width: 800px){
    //     //     padding-top: 70%;
    //     // }
    // }
    // &:after {
    //     z-index: 0;
    //     position: absolute;
    //     height: 50%;
    //     width: 100%;
    //     background: linear-gradient(0deg, rgba(0,0,0, 0.67) 0%, transparent 100%);
    //     content: '';
    //     bottom: 0;
    // }
    // &--small{
    //     &:before {
    //         padding-top: 70%;
    //     }
    // }
    &__thumb{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 100%;
        border: 2px solid white;
    }
    &__body{
        padding-left: 30px; 
        padding-right: 15px; 
    }
    &__title {
        font-weight: 500;
        letter-spacing: .2px;
        font-size: 16px;
    }
}

// .live-cart-wrapper :hover{
//     opacity: 0.5;
// }
.live-cart-wrapper-footer {
    bottom: 0;
    display: flex;
    align-items: flex-end;
    padding: 2px 8px;
    color: #fff;
    justify-content: space-between;
    width: 100%;
    h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @media screen and (max-width: 600px) {
        padding: 0x;
    }
}