.live-list-wrapper {
    width: 100%;
}

.live-list-single-wrapper {
    width: 100%;
}
.live-list-single-list{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    .MuiGrid-root{
        margin-right: 10px;
    }
}