
.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.navigation-menu ul{
    list-style-type: none;
}
.navigation-menu ul li{
    display: inline;
    padding:6px
}