.login-form-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.form-field-wrapper {
    margin-top: 20px;
    margin-bottom: 35px;
}
.login-footer-links {
    margin-top: 25px;
}