.profile-form-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 470px;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    background: rgba(255,255,255,.03);
    box-shadow: 0px 0px 30px rgba(0,0,0,.1);
    .form-field-form{
        width: 100%;
    }
}
.profile-field-wrapper {
    margin-top: 20px;
    margin-bottom: 35px;
}
.profile-footer-links {
    margin-top: 25px;
}