.theater-details-wrapper {
    margin-top: 30px;
}
.theater-details-title {
    border-bottom: 4px solid #ffe000d6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.theater-details-info {
    margin-top: 30px;
    display: flex;
}
.theater-details-info-single{
    margin-right: 30px;
}
.theater-details-more-theater-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.theater-details-more-theater-cart {
    margin-right: 10px;
    cursor: pointer;
}
theater:focus {
    outline: none;
}
@media (orientation: landscape) {
    .theater-player-wrapper {
        height: 65vh;
        position: relative;
    }
    .theater-player-wrapper > * {
        height: 100% !important;
    }
}
@media (orientation: portrait) {
    .theater-player-wrapper {
        height: auto;
        position: relative;
    }

    .theater-player-wrapper:after {
        content: "";
        display: block;
        background: rgba(255, 255, 255, 0.2);
        padding-top: 56.25%;
        position: relative;
        z-index: -2;
    }

    .theater-player-wrapper > * {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100% !important;
    }
}