.video-details-wrapper {
    margin-top: 30px;
}
.video-details-title {
    border-bottom: 4px solid #808080e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video-details-info {
    margin-top: 30px;
    display: flex;
}
.video-details-info-single{
    margin-right: 30px;
}
.video-details-more-video-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.video-details-more-video-cart {
    margin-right: 10px;
    cursor: pointer;
}
video:focus {
    outline: none;
}
@media (orientation: landscape) {
    .video-player-wrapper {
        height: 65vh;
        position: relative;
    }
    .video-player-wrapper > * {
        height: 100% !important;
    }
}
@media (orientation: portrait) {
    .video-player-wrapper {
        height: auto;
        position: relative;
    }

    .video-player-wrapper:after {
        content: "";
        display: block;
        background: rgba(255, 255, 255, 0.2);
        padding-top: 56.25%;
        position: relative;
        z-index: -2;
    }

    .video-player-wrapper > * {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100% !important;
    }
}

.video-player-error-wrapper {
    text-align: center;
}
.display-hide{
    display: none;
}
.display-show{
    display: block;
}